{
		"server" : "localhost",
		"name" : "NodeBot",
		"data" : {
			"debug" : true,
			"channels" : ["#test"],
			"autoConnect" : true,
			"stripColors" : true,
			"userName" : "ircBot",
			"showErrors" : true
		},
		"password" : "password",
		"apiKey" : {
			"wunderground" : "",
			"gSearch" : "",
			"imgur" : ""
		},
		"config" : {
			"phantomPath" : "phantomjs",
			"bookPort" : "9123",
			"bookAddr" : "216.244.84.179"
		}
}